<div id="center_child" style="float:left;height:40px;padding:10px;">
	<form class="layui-form">
		<div class="layui-form-item" style="margin-bottom: 0px;">
			&nbsp;
			<div class="layui-inline">
				<select id="type">
					<option value="全部" selected>全部（卡种）</option>
					<option value="借记卡">借记卡</option>
					<option value="贷记卡">贷记卡</option>
				</select>
			</div>
			<div class="layui-inline" id="date_div">
			</div>
			<div class="layui-inline">
				<button class="layui-btn" lay-submit lay-filter="search">查询</button>
			</div>
<!-- 			<div class="layui-inline"> -->
<!-- 				<button class="layui-btn" lay-submit lay-filter="export">导出</button> -->
<!-- 			</div> -->
		</div>
	</form>
	<div id="charts" style="float:left;margin-top: 20px;"></div>
	<div id="total_div" style="float:left;margin-top: 20px;"></div>
	<div id="details_div" style="float:left;margin-top: 20px;margin-bottom: 30px;"></div>
</div>
<script>
	$(function() {
		$("#center_child").width($("#center").width() - 20);
		$("#charts").width($("#center").width() - 20);
		$("#charts").height($("#center").height() - 60);
		var today = new XDate().addDays(-1).toString("yyyy-MM-dd");
		var customFixed = function(num) {
			if (num >= 10000) {
				return $DSUtil.toFixed2(num / 10000) + " 万元";
			}
			return num + " 元";
		};
		/* 初始化方法 */
		var init = function() {
			/* 加载表单 */
			var form = layui.form;
			form.render();
			form.on('submit(search)', function(data) {
				search();
				return false;
			});
// 			form.on('submit(export)', function(data) {
// 				tableToExcel('table', 'data');
// 				return false;
// 			});
			refer_date_div();
			/* 加载组织架构 */
			$.ajax({
				url: "http://ds.idc.xiwanglife.com/dataservice/getconfig.do?id=227", 
				async: false,
				success: function(data) {
					var provinces = data.details.province.values;
					var citys = data.details.city.values;
					var organizes = data.details.organize.values;
					var province_arr = [];
					for (var i in provinces) {
						// 三级目录
						var city_arr = [];
						/* for (var j in citys) {
							organize_arr = [];
							for (var k in organizes) {
								if (organizes[k].city_name == citys[j].city_name) {
									organize_arr.push({
										text: organizes[k].organize_name
									});
								}
							}
							if (citys[j].province_name == provinces[i].province_name) {
								city_arr.push({
									text: citys[j].city_name,
									children: organize_arr
								});
							}
						}
						province_arr.push({
							text: provinces[i].province_name,
							children: city_arr
						}); */
						// 二级目录
						for (var k in organizes) {
							if (organizes[k].province_name == provinces[i].province_name) {
								city_arr.push({
									text: organizes[k].organize_name
								});
							}
						}
						province_arr.push({
							text: provinces[i].province_name,
							children: city_arr
						});
					}
					$('#organize_div').append('<button id="organize_tree_open" class="layui-btn layui-btn-mini" style="left:226px;position:absolute;">开</button>');
					$('#organize_div').append('<button id="organize_tree_close" class="layui-btn layui-btn-mini" style="left:238px;position:absolute;">关</button>');
					$('#organize_div').append('<ul id="organize_tree">');
					$('#organize_tree').tree({
						checkbox: true,
// 						onlyLeafCheck: true,
						data: [{text:'恒大地产集团', children: province_arr}]
					}).tree('expandAll');
					$("#organize_tree_close").click(function() {
						$('#organize_tree').tree('collapseAll');
					});
					$("#organize_tree_open").click(function() {
						$('#organize_tree').tree('expandAll');
					});
				}
			});
			/* 查询默认数据 */
			// search();
		};
		var refer_date_div = function() {
			var laydate = layui.laydate;
			$("#date_div").empty();
			$("#date_div").append('<input type="text" class="layui-input" style="width:180px;" id="date">');
			laydate.render({
				elem: '#date',
				max : -1,
				range: true,
				btns : [ 'confirm' ]
			});
			$("#date").val(today + " - " + today);
		};
		var search = function() {
			var day = $("#date").val();
			var day_title = day;
			if (day == "") {
				layer.open({
					title : '提示',
					content : '请选择日期！'
				});
				return false;
			}

			var shade_index = layer.load(1, {
				shade: [0.3,'#fff'] //0.1透明度的白色背景
			});
			var myChart = echarts.init(document.getElementById('charts'));
			var rstMap = {};
			var rstKeys = [];

			var checks = $('#organize_tree').tree('getChecked', ["checked"]);
			var organizes = "";
			for ( var i in checks) {
				organizes += checks[i].text + ",";
			}
			if (organizes != "") {
				organizes = organizes.substring(0, organizes.length - 1);
			}
			var days = day.split(" - ");
			var day_begin = days[0];
			var day_end = days[1];
			if (day_begin == day_end) {
				day_title = day_begin;
			}
			// 强制不查询所有数据
			if (organizes == "") {
				organizes = "1";
			}
			var type = $("#type").val();
			if (type == "全部") {
				type = "";
			}
			$.post("http://ds.idc.xiwanglife.com/dataservice/getconfig.do",
				"id=223&para1=&para2=&wherein.para3=" + organizes + "&para4=" + day_begin + "&para5=" + day_end + "&para6=" + type,
				function(data) {
					var head_color = "#edfcff";
					var total_color = "#C8CDF7";
					var jiejika_color = "#A5EB9D";
					var daijika_color = "#F7907A";
//						alert(JSON.stringify(data));
					var details = data.details.day.values;
					rstMap = $DSUtil.ConvertDetailsToMap(details);
					rstKeys = $DSUtil.GetDetailsKeys(details);
// 					alert(rstKeys);
					option = {
						tooltip : {
							trigger : 'axis',
							axisPointer : {
								type : 'cross',
								crossStyle : {
									color : '#999'
								}
							}
						},
						toolbox : {
							feature : {
								dataView : {
									show : true,
									readOnly : true,
									optionToContent: function (opt) {
									    var axisData = opt.xAxis[0].data; //坐标数据
									    var series = opt.series; //折线图数据
									    var tdHeads = '<table class="layui-table" ><tbody><td style="padding: 0 10px">时间</td>'; //表头
									    var tdBodys = ''; //数据
									    series.forEach(function (item) {
									        //组装表头
									        tdHeads += '<td>' + item.name + '</td>';
									    });
									    var table = '<table border="1"><tbody><tr>' + tdHeads + '</tr>';
									    for (var i = 0, l = axisData.length; i < l; i++) {
									        for (var j = 0; j < series.length; j++) {
									            //组装表数据
									            tdBodys += '<td>' + series[j].data[i] + '</td>';
									        }
									        table += '<tr style="height:23px;"><td>' + axisData[i] + '</td>' + tdBodys + '</tr>';
									        tdBodys = '';
									    }
									    table += '</tbody></table>';
									    return table;
									}
								},
								magicType : {
									show : true,
									type : [ 'line', 'bar' ]
								},
								restore : {
									show : true
								},
								saveAsImage : {
									show : true
								}
							}
						},
						legend : {
							data : [ '刷卡总金额', '借记卡总金额', '贷记卡总金额' ]
						},
						xAxis : [ {
							type : 'category',
							data : rstMap['time_key'],
							axisPointer : {
								type : 'shadow'
							}
						} ],
						yAxis : [ {
							type : 'value',
							name : '金额',
							axisLabel : {
								formatter : function(value) {
									return $DSUtil.toFixed0(value/10000) + " 万元";
								}
							}
						} ],
						series : [ {
							name : '刷卡总金额',
							type : 'bar',
							data : rstMap['amt_tot'],
							itemStyle:{
					            normal:{
					                color: "#7820F0" //图标颜色
					            }
					        },
					        lineStyle:{
					            normal:{
					                width:10,
					                color: "#7820F0" //图标颜色
					            }
					        }
						}, {
							name : '借记卡总金额',
							type : 'bar',
							data : rstMap['amt_cc'],
							itemStyle:{
					            normal:{
					                color: "#00D924" //图标颜色
					            }
					        },
					        lineStyle:{
					            normal:{
					                width:10,
					                color: "#00D924" //图标颜色
					            }
					        }
						}, {
							name : '贷记卡总金额',
							type : 'bar',
							data : rstMap['amt_dc'],
							itemStyle:{
					            normal:{
					                color: "#D90000" //图标颜色
					            }
					        },
					        lineStyle:{
					            normal:{
					                width:10,
					                color: "#D90000" //图标颜色
					            }
					        }
						} ]
					};
					// 使用刚指定的配置项和数据显示图表。
					myChart.setOption(option);
					layer.closeAll('loading');

					// 加载 总计 数据表格
					var total = data.details.total.values;
					var total_div = $("#total_div");
					total_div.empty();
					total_div.width($("#center").width()-$("#center").width()/10);
					$("#total_div").css('margin-left', '30px');
					
					total_div.append('<div style="margin-top:30px;">&nbsp;&nbsp;<span style="font-size:22px;">总计</span><span>（'+day_title+'）</span><div>');
					var total_table = $('<table class="layui-table" style="float:left;margin-top:10px;border:1px solid red;"></table>');
					total_table.append('<thead><tr style="background-color:'+head_color+';"><td width="25%">&nbsp</td><td style="background-color:'+total_color+';" width="25%">总计</td><td style="background-color:'+jiejika_color+';" width="25%">借记卡</td><td style="background-color:'+daijika_color+';" width="25%">贷记卡</td></tr></thead>');
					total_table.append('<tr><td style="background-color:'+head_color+';" width="25%">刷卡金额</td><td style="background-color:'+total_color+';" width="25%">'+customFixed($DSUtil.getInteger0(total[0].amt_tot))+'</td><td style="background-color:'+jiejika_color+';" width="25%">'+customFixed($DSUtil.getInteger0(total[0].amt_cc))+'</td><td style="background-color:'+daijika_color+';" width="25%">'+customFixed($DSUtil.getInteger0(total[0].amt_dc))+'</td></tr>');
					total_table.append('<tr><td style="background-color:'+head_color+';" width="25%">交易笔数</td><td style="background-color:'+total_color+';" width="25%">'+$DSUtil.getInteger0(total[0].cnt_tot)+'</td><td style="background-color:'+jiejika_color+';" width="25%">'+$DSUtil.getInteger0(total[0].cnt_cc)+'</td><td style="background-color:'+daijika_color+';" width="25%">'+$DSUtil.getInteger0(total[0].cnt_dc)+'</td></tr>');
					total_table.append('<tr><td style="background-color:'+head_color+';" width="25%">分润金额</td><td style="background-color:'+total_color+';" width="25%">'+customFixed($DSUtil.getInteger0(total[0].profit_tot))+'</td><td style="background-color:'+jiejika_color+';" width="25%">'+customFixed($DSUtil.getInteger0(total[0].profit_cc))+'</td><td style="background-color:'+daijika_color+';" width="25%">'+customFixed($DSUtil.getInteger0(total[0].profit_dc))+'</td></tr>');
					total_table.append('<tr><td style="background-color:'+head_color+';" width="25%">交易手续费</td><td style="background-color:'+total_color+';" width="25%">'+customFixed($DSUtil.getInteger0(total[0].fee_tot))+'</td><td style="background-color:'+jiejika_color+';" width="25%">'+customFixed($DSUtil.getInteger0(total[0].fee_cc))+'</td><td style="background-color:'+daijika_color+';" width="25%">'+customFixed($DSUtil.getInteger0(total[0].fee_dc))+'</td></tr>');
					total_table.append('<tr><td style="background-color:'+head_color+';" width="25%">恒大分润金额</td><td style="background-color:'+total_color+';" width="25%">'+customFixed($DSUtil.getInteger0(total[0].profit_hengda_tot))+'</td><td style="background-color:'+jiejika_color+';" width="25%">'+customFixed($DSUtil.getInteger0(total[0].profit_hengda_cc))+'</td><td style="background-color:'+daijika_color+';" width="25%">'+customFixed($DSUtil.getInteger0(total[0].profit_hengda_dc))+'</td></tr>');
					total_table.append('<tr><td style="background-color:'+head_color+';" width="25%">杉德分润金额</td><td style="background-color:'+total_color+';" width="25%">'+customFixed($DSUtil.getInteger0(total[0].profit_shande_tot))+'</td><td style="background-color:'+jiejika_color+';" width="25%">'+customFixed($DSUtil.getInteger0(total[0].profit_shande_cc))+'</td><td style="background-color:'+daijika_color+';" width="25%">'+customFixed($DSUtil.getInteger0(total[0].profit_shande_dc))+'</td></tr>');
					total_table.append('<tr><td style="background-color:'+head_color+';" width="25%">分润占比（恒大：杉德）</td><td style="background-color:'+total_color+';" width="25%">'+$DSUtil.getInteger0(total[0].prpfit_hengda_rate)+' : '+$DSUtil.getInteger0(total[0].prpfit_shande_rate)+'</td><td style="background-color:'+jiejika_color+';" width="25%">'+$DSUtil.getInteger0(total[0].profit_hengda_cc_rate)+' : '+$DSUtil.getInteger0(total[0].profit_shande_cc_rate)+'</td><td style="background-color:'+daijika_color+';" width="25%">'+$DSUtil.getInteger0(total[0].profit_hengda_dc_rate)+' : '+$DSUtil.getInteger0(total[0].profit_shande_dc_rate)+'</td></tr>');
					total_div.append(total_table);

					// 加载 详细 数据表格
					var details_div = $("#details_div");
					details_div.empty();
					details_div.width($("#center").width()-$("#center").width()/10);
					details_div.css('margin-left', '30px');
					
					details_div.append('<div style="font-size:22px;margin-top:30px;">&nbsp;&nbsp;明细<div>');
					var table_details = $('<table class="layui-table" style="overflow:scroll;background-color:#D1EEEE;margin-top:10px;"></table>');
					var thead = $("<thead><tr></tr></thead>");
					thead.append('<td class="word-break" style="background-color:'+head_color+';">日期</td>');
					thead.append('<td class="word-break" style="background-color:'+total_color+';">刷卡总金额</td>');
					thead.append('<td class="word-break" style="background-color:'+total_color+';">总交易笔数</td>');
					thead.append('<td class="word-break" style="background-color:'+total_color+';">总分润金额</td>');
					thead.append('<td class="word-break" style="background-color:'+total_color+';">总交易手续费</td>');
					thead.append('<td class="word-break" style="background-color:'+total_color+';">恒大分润金额</td>');
					thead.append('<td class="word-break" style="background-color:'+total_color+';">杉德分润金额</td>');
					thead.append('<td class="word-break" style="background-color:'+jiejika_color+';">借记卡金额</td>');
					thead.append('<td class="word-break" style="background-color:'+jiejika_color+';">借记卡交易笔数</td>');
					thead.append('<td class="word-break" style="background-color:'+jiejika_color+';">借记卡分润金额</td>');
					thead.append('<td class="word-break" style="background-color:'+jiejika_color+';">借记卡交易手续费</td>');
					thead.append('<td class="word-break" style="background-color:'+jiejika_color+';">恒大分润金额</td>');
					thead.append('<td class="word-break" style="background-color:'+jiejika_color+';">杉德分润金额</td>');
					thead.append('<td class="word-break" style="background-color:'+daijika_color+';">贷记卡金额</td>');
					thead.append('<td class="word-break" style="background-color:'+daijika_color+';">贷记卡交易笔数</td>');
					thead.append('<td class="word-break" style="background-color:'+daijika_color+';">贷记卡分润金额</td>');
					thead.append('<td class="word-break" style="background-color:'+daijika_color+';">贷记卡交易手续费</td>');
					thead.append('<td class="word-break" style="background-color:'+daijika_color+';">恒大分润金额</td>');
					thead.append('<td class="word-break" style="background-color:'+daijika_color+';">杉德分润金额</td>');
					var tbody = $("<tbody></tbody>");
					for (var i in details) {
						var tr = $("<tr></tr>");
						tr.append('<td class="word-break" style="background-color:'+head_color+';">'+$DSUtil.getInteger0(details[i].time_key)+'</td>');
						// 总
						tr.append('<td class="word-break" style="background-color:'+total_color+';">'+customFixed($DSUtil.getInteger0(details[i].amt_tot))+'</td>');
						tr.append('<td class="word-break" style="background-color:'+total_color+';">'+$DSUtil.getInteger0(details[i].cnt_tot)+'</td>');
						tr.append('<td class="word-break" style="background-color:'+total_color+';">'+$DSUtil.getInteger0(details[i].profit_tot)+'</td>');
						tr.append('<td class="word-break" style="background-color:'+total_color+';">'+$DSUtil.getInteger0(details[i].fee_tot)+'</td>');
						tr.append('<td class="word-break" style="background-color:'+total_color+';">'+$DSUtil.getInteger0(details[i].profit_hengda_tot)+'</td>');
						tr.append('<td class="word-break" style="background-color:'+total_color+';">'+$DSUtil.getInteger0(details[i].profit_shande_tot)+'</td>');
						// 借记卡
						tr.append('<td class="word-break" style="background-color:'+jiejika_color+';">'+$DSUtil.getInteger0(details[i].amt_cc)+'</td>');
						tr.append('<td class="word-break" style="background-color:'+jiejika_color+';">'+$DSUtil.getInteger0(details[i].cnt_cc)+'</td>');
						tr.append('<td class="word-break" style="background-color:'+jiejika_color+';">'+$DSUtil.getInteger0(details[i].profit_cc)+'</td>');
						tr.append('<td class="word-break" style="background-color:'+jiejika_color+';">'+$DSUtil.getInteger0(details[i].fee_cc)+'</td>');
						tr.append('<td class="word-break" style="background-color:'+jiejika_color+';">'+$DSUtil.getInteger0(details[i].profit_hengda_cc)+'</td>');
						tr.append('<td class="word-break" style="background-color:'+jiejika_color+';">'+$DSUtil.getInteger0(details[i].profit_shande_cc)+'</td>');
						// 贷记卡
						tr.append('<td class="word-break" style="background-color:'+daijika_color+';">'+$DSUtil.getInteger0(details[i].amt_dc)+'</td>');
						tr.append('<td class="word-break" style="background-color:'+daijika_color+';">'+$DSUtil.getInteger0(details[i].cnt_dc)+'</td>');
						tr.append('<td class="word-break" style="background-color:'+daijika_color+';">'+$DSUtil.getInteger0(details[i].profit_dc)+'</td>');
						tr.append('<td class="word-break" style="background-color:'+daijika_color+';">'+$DSUtil.getInteger0(details[i].fee_dc)+'</td>');
						tr.append('<td class="word-break" style="background-color:'+daijika_color+';">'+$DSUtil.getInteger0(details[i].profit_hengda_dc)+'</td>');
						tr.append('<td class="word-break" style="background-color:'+daijika_color+';">'+$DSUtil.getInteger0(details[i].profit_shande_dc)+'</td>');
						tbody.append(tr);
					}
					table_details.append(thead);
					table_details.append(tbody);
					overflow:scroll;
					var inner_div = $('<div style="overflow:scroll;"></div>');
					inner_div.append(table_details);
					details_div.append(inner_div);
				});
		};
		document.onkeydown = function(e) {
		    var theEvent = e || window.event;
		    var code = theEvent.keyCode || theEvent.which || theEvent.charCode;
		    if (code == 13) {
		        search();
		        return false;
		    }
		    return true;
		};
		init();
	});
</script>