<div>
	<form class="layui-form">
		<div class="layui-form-item">
			&nbsp;
			<div class="layui-inline">
				日期范围
			</div>
			<div class="layui-inline" id="date_div">
			</div>
			<div class="layui-inline">
				<select id="type">
					<option value="全部" selected>全部（卡种）</option>
					<option value="借记卡">借记卡</option>
					<option value="贷记卡">贷记卡</option>
				</select>
			</div>
			<div class="layui-inline">
				<button class="layui-btn" lay-submit lay-filter="search">查询</button>
			</div>
<!-- 			<div class="layui-inline"> -->
<!-- 				<button class="layui-btn" lay-submit lay-filter="export">导出</button> -->
<!-- 			</div> -->
		</div>
	</form>
	<div id="charts"></div>
	<table id="table" class="layui-table">
	</table>
</div>

<script>
	$(function() {
		$("#charts").width($("#center").width() - 20);
		$("#charts").height($("#center").height() - 20);
		var today = new XDate().addDays(-1).toString("yyyy-MM-dd");
		/* 初始化方法 */
		var init = function() {
			/* 加载表单 */
			var form = layui.form;
			form.render();
			form.on('submit(search)', function(data) {
				search();
				return false;
			});
// 			form.on('submit(export)', function(data) {
// 				tableToExcel('table', 'data');
// 				return false;
// 			});
			refer_date_div();
			/* 加载组织架构 */
			$.ajax({
				url: "http://ds.idc.xiwanglife.com/dataservice/getconfig.do?id=227", 
				async: false,
				success: function(data) {
					var provinces = data.details.province.values;
					var citys = data.details.city.values;
					var organizes = data.details.organize.values;
					var province_arr = [];
					for (var i in provinces) {
						var city_arr = [];
						for (var j in citys) {
							organize_arr = [];
							for (var k in organizes) {
								if (organizes[k].city_name == citys[j].city_name) {
									organize_arr.push({
										text: organizes[k].organize_name
									});
								}
							}
							if (citys[j].province_name == provinces[i].province_name) {
								city_arr.push({
									text: citys[j].city_name,
									children: organize_arr
								});
							}
						}
						province_arr.push({
							text: provinces[i].province_name,
							children: city_arr
						});
					}
					$('#organize_tree').tree({
						checkbox: true,
						onlyLeafCheck: true,
						data: province_arr
					}).tree('collapseAll');
				}
			});
			/* 查询默认数据 */
			// search();
		};
		var refer_date_div = function() {
			var laydate = layui.laydate;
			$("#date_div").empty();
			$("#date_div").append('<input type="text" class="layui-input" style="width:180px;" id="date">');
			laydate.render({
				elem: '#date',
				max : -1,
				range: true,
				btns : [ 'confirm' ]
			});
			$("#date").val(today + " - " + today);
		};
		var search = function() {
			var day = $("#date").val();
			if (day == "") {
				layer.open({
					title : '提示',
					content : '请选择日期！'
				});
				return false;
			}

			var shade_index = layer.load(1, {
				shade: [0.3,'#fff'] //0.1透明度的白色背景
			});
			var myChart = echarts.init(document.getElementById('charts'));
			var rstMap = {};
			var rstKeys = [];

			var checks = $('#organize_tree').tree('getChecked', ["checked"]);
			var organizes = "";
			for ( var i in checks) {
				organizes += checks[i].text + ",";
			}
			if (organizes != "") {
				organizes = organizes.substring(0, organizes.length - 1);
			}
			var days = day.split(" - ");
			var day_begin = days[0];
			var day_end = days[1];
			// 强制不查询所有数据
			if (organizes == "") {
				organizes = "1";
			}
			var type = $("#type").val();
			if (type == "全部") {
				type = "";
			}
			$.post("http://ds.idc.xiwanglife.com/dataservice/getconfig.do",
				"id=223&para1=&para2=&wherein.para3=" + organizes + "&para4=" + day_begin + "&para5=" + day_end + "&para6=" + type,
				function(data) {
//						alert(JSON.stringify(data));
					var details = data.details.day.values;
					rstMap = $DSUtil.ConvertDetailsToMap(details);
					rstKeys = $DSUtil.GetDetailsKeys(details);
					series = [ ];
					for (var i in rstMap) {
						series.push({
							name : 'amt_tot',
							type : 'line',
							data : rstMap['amt_tot']
						});
						rstMap[i]
					}
// 					alert(rstKeys);
					option = {
						tooltip : {
							trigger : 'axis',
							axisPointer : {
								type : 'cross',
								crossStyle : {
									color : '#999'
								}
							}
						},
						toolbox : {
							feature : {
								dataView : {
									show : true,
									readOnly : true,
									optionToContent: function (opt) {
									    var axisData = opt.xAxis[0].data; //坐标数据
									    var series = opt.series; //折线图数据
									    var tdHeads = '<table class="layui-table" ><tbody><td style="padding: 0 10px">时间</td>'; //表头
									    var tdBodys = ''; //数据
									    series.forEach(function (item) {
									        //组装表头
									        tdHeads += `<td >${item.name}</td>`;
									    });
									    var table = `<table border="1"><tbody><tr>${tdHeads}</tr>`;
									    for (var i = 0, l = axisData.length; i < l; i++) {
									        for (var j = 0; j < series.length; j++) {
									            //组装表数据
									            tdBodys += `<td>${series[j].data[i]}</td>`;
									        }
									        table += `<tr><td >${axisData[i]}</td>${tdBodys}</tr>`;
									        tdBodys = '';
									    }
									    table += '</tbody></table>';
									    return table;
									}
								},
								magicType : {
									show : true,
									type : [ 'line', 'bar' ]
								},
								restore : {
									show : true
								},
								saveAsImage : {
									show : true
								}
							}
						},
						legend : {
							data : [ 'amt_tot', 'amt_cc', 'amt_dc' ]
						},
						xAxis : [ {
							type : 'category',
							data : rstMap['time_key'],
							axisPointer : {
								type : 'shadow'
							}
						} ],
						yAxis : [ {
							type : 'value',
							name : '金额',
							axisLabel : {
								formatter : '{value} 元'
							}
						} ],
						series : [ {
							name : 'amt_tot',
							type : 'bar',
							data : rstMap['amt_tot']
						}, {
							name : 'amt_cc',
							type : 'bar',
							data : rstMap['amt_cc']
						}, {
							name : 'amt_dc',
							type : 'bar',
							data : rstMap['amt_dc']
						} ]
					};

					// 使用刚指定的配置项和数据显示图表。
					myChart.setOption(option);
					layer.closeAll('loading');
				});
		};
		document.onkeydown = function(e) {
		    var theEvent = e || window.event;
		    var code = theEvent.keyCode || theEvent.which || theEvent.charCode;
		    if (code == 13) {
		        search();
		        return false;
		    }
		    return true;
		};
		init();
	});
</script>